@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Global Variables, allows for easy switching */
:root 
{
    --font: 'Raleway', sans-serif;
}

/* Body CSS */
body
{
    background-image: repeating-linear-gradient(105deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),repeating-linear-gradient(333deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),linear-gradient(90deg, hsl(300,76%,69%),hsl(351.429,76%,69%),hsl(42.857,76%,69%),hsl(94.286,76%,69%),hsl(145.714,76%,69%),hsl(197.143,76%,69%),hsl(248.571,76%,69%));
    overflow-y:scroll;
    background-attachment: fixed;
}


/* Title of Website */
#title 
{
    font-size: 100px;
    line-height:30px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #f75555;
    filter: drop-shadow(5px 5px 0px rgb(141, 19, 19));
    opacity: 1;
    animation-name: opacityChange;
    animation-duration: 2s;
}

@keyframes opacityChange {
    from{ opacity: 0; font-size: 90px;}
    to {opacity: 1; font-size: 100px;}
}


/* Main DIV of Website */
#mainDiv
{
    font-size: 30px;
    border-radius: 15px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #ffffff;
    border: 7px dotted rgb(235, 114, 114);
}

.inner-title{
    display: inline-block;
    font-size: 1.0em;
    border-bottom: 7px dotted rgb(235, 114, 114);
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 3%;
    padding-top: 1%;
    font-family: var(--font);
}

.it_orange
{
    border-bottom: 7px dotted rgb(235, 162, 114);
}

.it_yellow
{
    border-bottom: 7px dotted rgb(235, 207, 114);
}

.smaller-inner-title{
  display: inline-block;
  font-size: 0.6em;
  width: 90%;
  text-align: center;
  font-family: var(--font);
}


/* Button CSS */
.buttons
{
    font-size: 20px;
    margin: 0 auto;
    
    border-radius: 5px;
    width: 50%;
    transition-duration: 0.2s;
    font-family: var(--font);
    border: 2px solid rgb(117, 114, 114);
}

.btn_home
{
    margin-bottom: 30px;
}

.buttons:hover
{
    background-color: #fa8181;
    color: white;
}

.buttons:active
{
    background-color: #ad3e3e;
    transform: translateY(4px);
}


.smallButton
{
    font-size: 20px;
    border-radius: 5px;
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: var(--font);
    float:right;
}


/* Text-Entry Fields CSS */
input[type="text"],input[type="password"]{
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    width: 40%;
    margin-bottom: 2%;
    transition: width 0.4s ease-in-out;
    font-family: var(--font);
    border: 2px solid rgb(145, 122, 122);
}

input[type="text"]:focus,input[type="password"]:focus{
    background-color: #ffd4d4;
    width: 70%;
}


/* Error Text CSS */
#error-text
{
    display: inline-block;
    font-size: 0.6em;
    width: 90%;
    margin-top: 2%;
    text-align: center;
    font-family: var(--font);
    color: #95060a;
}