@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body
{
    background-image: repeating-linear-gradient(105deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),repeating-linear-gradient(333deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),linear-gradient(90deg, hsl(300,76%,69%),hsl(351.429,76%,69%),hsl(42.857,76%,69%),hsl(94.286,76%,69%),hsl(145.714,76%,69%),hsl(197.143,76%,69%),hsl(248.571,76%,69%));
    overflow-y:scroll;
    background-attachment: fixed;
}


#title 
{
    font-size: 90px;
    line-height:30px;
    width: 100%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #f75555;
    filter: drop-shadow(5px 5px 0px rgb(141, 19, 19));
}

#mainDiv
{
    font-size: 30px;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #ffffff;
    border: 7px dotted rgb(235, 114, 114);
}

.buttons
{
    font-size: 20px;
    border-radius: 5px;
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

.spaced
{
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="button"]:hover{
    background-color: #081dff4f;
    color: #FFFFFF;
    opacity: 90%;
}

.fullWidth
{
    display: inline-block;
    width: 100%;
}

input[type="text"],input[type="password"]{
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    width: 40%;
    margin-bottom: 2%;
    font-family: 'Raleway', sans-serif;
}

/* This tag is doubled so that it can override the styling for all text and password inputs above; look up specificity. */
.searchBox.searchBox
{
        float: left;
        border-radius: 10px;
	      font-size: 20px;
        width: 22%;
        margin-left: 2.5%;
        font-family: 'Raleway', sans-serif;
}

hr
{
	border-top: 2px solid;
}

#inner-title{
    display: inline-block;
    font-size: 1.0em;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}

#smaller-inner-title{
  display: inline-block;
  font-size: 0.6em;
  width: 90%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.results
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

.errorText
{
  color: #95060a;
}

.smallButton
{
    font-size: 20px;
    border-radius: 5px;
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    float:right;
}

#cancelButton, #logoutButton, #toLoginButton{
    width: 20%;
    margin-left: 40%;
}

#logoutButton
{
  margin-top: 4%;
}