@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Global Variables, allows for easy switching */
:root 
{
    --font: 'Raleway', sans-serif;
}

/* Body CSS */
body
{
    background-image: repeating-linear-gradient(105deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),repeating-linear-gradient(333deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),linear-gradient(90deg, hsl(300,76%,69%),hsl(351.429,76%,69%),hsl(42.857,76%,69%),hsl(94.286,76%,69%),hsl(145.714,76%,69%),hsl(197.143,76%,69%),hsl(248.571,76%,69%));
    background-attachment: fixed;
}

p
{
    font-family: var(--font);
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.group-remove
{
    margin-top: 0px;
    display: inline-block;
}

.fa-color
{
    color: #95060a;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.fa-color:hover
{
    color: rgb(206, 0, 7);
}

.fa-color:active
{
    transform: translateY(3px);
}

.event
{
    font-size: 22px;
    margin: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

label
{
    font-family: var(--font);
    font-size: 25px;
    padding-left: 5px;
}


/* Title of Website */
#title 
{
    font-size: 100px;
    line-height:30px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #f75555;
    filter: drop-shadow(5px 5px 0px rgb(141, 19, 19));
    opacity: 1;
    animation-name: opacityChange;
    animation-duration: 2s;
    user-select: none;
}

@keyframes opacityChange {
    from{ opacity: 0; font-size: 90px;}
    to {opacity: 1; font-size: 100px;}
}


/* Changes font of title for website responsiveness */
@media screen and (max-width: 820px) {
    #title 
    {
        font-size: 80px;
        line-height:30px;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        color: #f75555;
        filter: drop-shadow(4px 4px 0px rgb(141, 19, 19));
        opacity: 1;
        animation-name: smallOpacityChange;
        animation-duration: 2s;
    }
}

@keyframes smallOpacityChange {
    from{ opacity: 0; font-size: 70px;}
    to {opacity: 1; font-size: 80px;}
}

@media screen and (max-width: 650px) {
    #title 
    {
        font-size: 60px;
        line-height:30px;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        color: #f75555;
        filter: drop-shadow(4px 4px 0px rgb(141, 19, 19));
        opacity: 1;
        animation-name: smallerOpacityChange;
        animation-duration: 2s;
    }
}

@keyframes smallerOpacityChange {
    from{ opacity: 0; font-size: 50px;}
    to {opacity: 1; font-size: 60px;}
}


@media screen and (max-width: 490px) {
    #title 
    {
        font-size: 40px;
        line-height:30px;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        color: #f75555;
        filter: drop-shadow(3px 3px 0px rgb(141, 19, 19));
        opacity: 1;
        animation-name: smallestOpacityChange;
        animation-duration: 2s;
    }
}

@keyframes smallestOpacityChange {
    from{ opacity: 0; font-size: 30px;}
    to {opacity: 1; font-size: 40px;}
}



/* Main DIV of Website */
#mainDiv
{
    font-size: 30px;
    border-radius: 15px;
    width: 40%;
    min-width: 360px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #ffffff;
    border: 7px dotted rgb(235, 114, 114);
}

.inner-title{
    display: inline-block;
    font-size: 1.0em;
    border-bottom: 7px dotted rgb(235, 114, 114);
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 3%;
    padding-top: 1%;
    font-family: var(--font);
}

.it_orange
{
    border-bottom: 7px dotted rgb(235, 162, 114);
}

.it_yellow
{
    border-bottom: 7px dotted rgb(235, 207, 114);
}

.it_green
{
    border-bottom: 7px dotted rgb(148, 235, 114);
}

.it_blue
{
    border-bottom: 7px dotted rgb(114, 235, 205);
}

.it_purple
{
    border-bottom: 7px dotted rgb(197, 114, 235);
}

.it_pink
{
    border-bottom: 7px dotted rgb(235, 114, 171);
}

.it_lightred
{
    border-bottom: 7px dotted rgb(235, 114, 114);
}

.smaller-inner-title{
  display: inline-block;
  font-size: 0.6em;
  width: 90%;
  text-align: center;
  font-family: var(--font);
}


/* Button CSS */
.buttons
{
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    transition-duration: 0.2s;
    font-family: var(--font);
    border: 2px solid rgb(117, 114, 114);
}

.btn-home
{
    margin-bottom: 30px;
}

.btn-search
{
    height: 50px;
}

.buttons:hover
{
    background-color: #fa8181;
    color: white;
}

.buttons:active
{
    background-color: #ad3e3e;
    transform: translateY(4px);
}


/* Text-Entry Fields CSS */
input[type="text"],input[type="password"]{
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
    width: 40%;
    margin-bottom: 2%;
    transition: width 0.4s ease-in-out;
    font-family: var(--font);
    border: 2px solid rgb(145, 122, 122);
}


input[type="text"]:focus,input[type="password"]:focus{
    background-color: #ffd4d4;
    width: 50%;
}

textarea
{
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
    width: 70%;
    margin-bottom: 2%;
    transition: width 0.4s ease-in-out;
    font-family: var(--font);
    border: 2px solid rgb(145, 122, 122);
    resize: none;
}

textarea:focus
{
    background-color: #ffd4d4;
}

.meeting-time
{
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
    width: 40%;
    margin-bottom: 2%;
    transition: width 0.4s ease-in-out;
    font-family: var(--font);
    border: 2px solid rgb(145, 122, 122);
}

#location
{
    width: 80%;
}

#location:focus
{
    background-color: #ffd4d4;
    width: 90%;
}


/* Error Text CSS */
#error-text
{
    display: inline-block;
    font-size: 0.6em;
    width: 90%;
    margin-top: 2%;
    text-align: center;
    font-family: var(--font);
    color: #95060a;
}

/* Images */
.imgresponsive 
{
    max-width: 50%;
    border-radius: 5%;
    height: auto;
}

.eventpic
{
    float: left;
    padding-left: 10px;
}


/* Event Box */
/* With help of: https://www.youtube.com/watch?v=cwC1qdPWBKo&list=LL&index=4  */
.flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eventBox 
{
    display: grid;
    grid-template-columns: 292px;
    grid-template-rows: 210px 210px 100px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    font-family: var(--font);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
    margin-top: 70px;
}

.eventBox-image 
{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 100% 100%;
}
  
.eventBox-text 
{
    grid-area: text;
}

.eventBox-text .date 
{
    color: rgb(255, 7, 19);
    font-size:13px;
}

.eventBox-text p 
{
    color: rgb(94, 94, 94);
    font-size:15px;
    font-weight: 300;
}

.eventBox-text h2 
{
    margin-top:0px;
    font-size:26px;
}

.eventBox-stats 
{
    grid-area: stats; 
    display: flexbox;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(248, 66, 75);
}

.eventBox-stats .stat 
{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size:20px;
    font-weight: 500;
}


.eventBox-stats .type
{
    font-size:11px;
    font-weight: 300;
    margin: 5px;
    text-transform: uppercase;
}

.eventBox-stats .border 
{
    border-left: 1px solid rgb(248, 66, 75);
    border-right: 1px solid rgb(248, 66, 75);
}


.eventBox:hover 
{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


.eventBox:active
{
    transform: translateY(5px);
}
  
